/** clearfix
**
 * 1. `table-cell` is used with `::before` because `table` creates a 1px gap when it becomes a flex item, only in Webkit
 * 2. `table` is used again with `::after` because `clear` only works with block elements.
 * Note: `display: block` with `overflow: hidden` is currently not working in the latest Safari
 **/
p {
  margin: 0 0 1.125rem;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.2;
  margin: 0 0 1.125rem;
}

small {
  font-size: 0.75rem;
}

.ui-text-meta {
  font-family: "Roboto Condensed", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #303841;
  margin: 0;
}

.ui-text-meta--attn {
  font-weight: 700;
  color: #e6004c;
}

/**
*#BUTTONS
**/
/*
 * 1. Remove margins in Chrome, Safari and Opera.
 * 2. Remove borders for `button`.
 * 3. Address `overflow` set to `hidden` in IE.
 * 4. Correct `font` properties and `color` not being inherited for `button`.
 * 5. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 6. Style
 * 7. `line-height` is used to create a height because it also centers the text vertically for `a` elements.
 *    Better would be to use height and flexbox to center the text vertically but flexbox doesn't work in Firefox on `button` elements.
 * 8. Align text if button has a width
 * 9. Required for `a`.
 */
.ui-btn {
  /* 4 */
  font: inherit;
  /* 6 */
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  /* 7 */
  line-height: 1.2;
  position: relative;
  display: inline-block;
  /* 3 */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  margin: 0;
  padding: 14px 32px;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  -o-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  /* 8 */
  text-align: center;
  vertical-align: middle;
  /* 9 */
  text-decoration: none;
  /* 5 */
  text-transform: none;
  text-transform: uppercase;
  color: inherit;
  /* 2 */
  border: none;
  border-radius: 2px;
  /* mobile specific */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  /* Safari */
  -khtml-user-select: none;
}

.ui-btn:active, .ui-btn:focus, .ui-btn:hover {
  /*hover,active,focus*/
  /* 8 */
  text-decoration: none;
}

.ui-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  pointer-events: none;
  opacity: 0;
  /* Hover,Active,Focus shader*/
  background-color: rgba(0, 0, 0, 0.3);
}

.ui-btn--small {
  /* small button */
  padding: 8px 24px;
}

.ui-btn--large {
  /* large button */
  padding: 18px 40px;
}

.ui-btn:disabled {
  color: #abb1b7;
  border: 2px solid #f3f4f8;
  background-color: #f3f4f8;
  opacity: 0.8;
}

.ui-btn:not(:disabled) {
  cursor: pointer;
}

/*
 * Remove the inner border and padding in Firefox.
 */
.ui-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.ui-btn:focus::before,
.ui-btn:hover::before {
  opacity: 0.3;
}

.ui-btn:active::before {
  opacity: 0.6;
}

.ui-btn:disabled::before {
  opacity: 0;
}

/**
*#Button styles
**/
.ui-btn-solid {
  color: #151618;
  border: 2px solid #abb1b7;
  background-color: white;
}

.ui-btn-solid--invert {
  /*inverted solid*/
  color: white;
  border: 2px solid #151618;
  background-color: #151618;
}

.ui-btn-solid--attn {
  /*attention color*/
  color: white;
  border: 2px solid #e6004c;
  background-color: #e6004c;
}

.ui-btn-solid--blue {
  /*robin blue button*/
  color: #151618;
  border: 2px solid #06c7d9;
  background-color: #06c7d9;
}

.ui-btn-solid--red {
  /*pastel red*/
  color: #151618;
  border: 2px solid #f56262;
  background-color: #f56262;
}

.ui-btn-solid--light-blue {
  /*light blue*/
  color: white;
  border: 2px solid #6354eb;
  background-color: #6354eb;
}

.ui-btn-outline {
  color: #151618;
  border: 2px solid #151618;
  background-color: transparent;
}

.ui-btn-outline--invert {
  /*inverted solid*/
  color: white;
  border: 2px solid white;
  background-color: transparent;
}

.ui-btn-outline--attn {
  /*attention color*/
  color: #e6004c;
  border: 2px solid #e6004c;
  background-color: transparent;
}

.ui-btn-outline--blue {
  /*robin blue button*/
  color: #151618;
  border: 2px solid #06c7d9;
  background-color: transparent;
}

.ui-btn-outline--red {
  /*pastel red*/
  color: #151618;
  border: 2px solid #f56262;
  background-color: transparent;
}

.ui-btn-outline--light-blue {
  /*light blue*/
  color: #6354eb;
  border: 2px solid #6354eb;
  background-color: transparent;
}

.ui-btn-group {
  /* 1 */
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
  /* 2 */
  vertical-align: middle;
  /* 3 */
  position: relative;
}

.ui-btn-group .ui-btn-solid:nth-child(n+2) {
  margin-left: -2px;
}

.ui-btn-group .ui-btn-outline:nth-child(n+2) {
  margin-left: -2px;
}

/**
*#LABEL
**/
.ui-label {
  display: inline-block;
  font-family: "Roboto Condensed", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  padding: 4px 8px;
  background: #e6004c;
  line-height: 1.2;
  font-size: 0.75rem;
  color: white;
  vertical-align: middle;
  border-radius: 2px;
  white-space: nowrap;
}

/**
*#CARD
**/
/**
*Default card
**/
.ui-card {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-card__title {
  font-family: "Roboto Condensed", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.ui-card__sub-title {
  display: block;
  font-family: "Roboto Condensed", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.ui-card__header {
  padding: 18px 26px 0;
}

.ui-card__body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 18px 26px;
}

.ui-card__footer {
  padding: 0 26px 18px;
}

.ui-card-default {
  background-color: white;
}

.ui-card-secondary {
  background-color: #f3f4f8;
}

.ui-card-badge {
  position: absolute;
  top: 14px;
  right: 26px;
  z-index: 1;
}
