// Card component
// Card specific variables
$card-body-padding-x: $padding-x-l;
$card-body-padding-y: $padding-y-s;
$card-font-size: $font-size-m; //18px
$card-font-size-sm: $font-size-sm; //14px
$card-font-weight: $font-weight-bold;
$card-title-font: $font-family-roboto-condensed;
$card-body-font: $font-family-roboto;


/**
*#Card
*/
/*card base-style*/
.ui-card {
  display: flex;
  flex-flow: column;
  position: relative;
  box-sizing: border-box;
  flex: 0 0 100%;
  /*card image*/
  &__media {
    height: 240px;
    overflow: hidden;
  }
  /*card header*/
  &__header {
    padding: $card-body-padding-x $card-body-padding-y;
  }
  /*card title*/
  &__title {
    font-family: $card-title-font;
    font-size: $card-font-size;
    font-weight: $card-font-weight;
    text-transform: uppercase;
    margin: 0;
  }
  /*card sub title*/
  &__sub-title {
    display: block;
    font-family: $card-title-font;
    text-transform: uppercase;
    font-size: $card-font-size-sm;
    margin-bottom: 0.5rem;
  }
  /*card body*/
  &__body {
    flex: 1 0 auto;
    font-family: $card-body-font;
    padding: $card-body-padding-x $card-body-padding-y;
  }
  /*card footer*/
  &__footer {
    padding: 0 $card-body-padding-x $card-body-padding-y;
  }
  /*card defalt color 'white'*/
  &-default {
    background-color: $frost-white;
  }
  /*card secondary color 'light grey'*/
  &-secondary {
    background-color: $light-grey;
  }
  /*card ad header - for ads specific*/
  &__ad-header {
    display: flex;
    align-items: center;
    padding: $card-body-padding-x $card-body-padding-y;
  }
  /*card ad icon - for ads specific*/
  &__ad-icon {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  /*card ad footer - for ads specific*/
  &__ad-footer {
    border-top: 1px solid $light-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $card-body-padding-x $card-body-padding-y;
  }
  /*card ad brand - client logos for ads specific*/
  &__ad-logo {
    margin-right: 16px;
    width: 120px;
  }
}
//
/*card specific badge style'*/
.ui-card-badge {
  position: absolute;
  top: 14px;
  right: 26px;
}
