// Label component
// Label specific variables
$label-padding-x: 4px !default;
$label-padding-y: 8px !default;
$label-type: $font-family-roboto-condensed;
$label-line-height: $line-height-xs;
$label-font-size: $font-size-xs;
$label-default: $indigo-blue;
$label-attn: $radical-red;
$label-font-color: $frost-white;


/**
*#LABEL
**/
.ui-label {
  display: inline-block;
  font-family: $label-type;
  text-transform: uppercase;
  padding: $label-padding-x $label-padding-y;
  line-height: $label-line-height;
  font-size: $label-font-size;
  vertical-align: middle;
  border-radius: 2px;
  white-space: nowrap;

  &--attn {
    background-color: $label-attn;
    color: $label-font-color;
  }

  &--blue {
    background-color: $label-default;
    color: $label-font-color;
  }
}
