/**
*#LABEL
**/
/// Label specific variables
$label-padding-vertical: 4px !default;
$label-padding-horizontal: 8px !default;

.ui-label {
  display: inline-block;
  font-family: $subtitle-font-stack;
  text-transform: uppercase;
  padding: $label-padding-vertical $label-padding-horizontal;
  line-height: $global-small-line-height;
  font-size: $global-xsmall-font-size;
  vertical-align: middle;
  border-radius: 2px;
  white-space: nowrap;

  &--attn {
    background-color: $radical-red;
    color: $frost-white;
  }

  &--blue {
    background-color: $light-blue;
    color: $frost-white;
  }
}
