/// Tiles
/// Titles specific variables
$tile-font-title: $font-family-roboto;
$tile-font-subtitle: $font-family-roboto-condensed;
$tile-title-font-size: $font-size-sm;
$tile-subtitle-font-size: $font-size-m;
$tile-title-fontcolor: $charcoal-grey;


/**
*#TITLE
**/
.ui-tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  padding: 14px;

  &__action,
  &__icon {
    flex: 0 0 auto;
  }

  &__content {
    flex: 1 1 auto;

    &:not(:first-child) {
      padding-left: 18px;
    }

    &:not(:last-child) {
      padding-right: 18px;
    }
  }

  &__title {
    font-family: $tile-font-title;
    text-transform: uppercase;
    font-size: $tile-title-font-size;
    color: $tile-title-fontcolor;
    font-weight: 700;
    margin: 0;
  }

  &__sub-title {
    font-weight: 500;
    font-family: $tile-font-subtitle;
    font-size: $tile-subtitle-font-size;
    text-transform: uppercase;
    color: lighten($tile-title-fontcolor, 40%);
  }

  &--tile-center {
    align-items: center;

    .tile__content {
      overflow: hidden;
    }
  }
}
