// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------





/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint)
{
    @if map-has-key($breakpoints, $breakpoint)
    {
        @media (min-width: #{map-get($breakpoints, $breakpoint)})
        {
            @content;
        }
    }

    @else
    {
        @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
    }
}


/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false)
{
    @if $self
    {
        &,
        &:hover,
        &:active,
        &:focus
        {
            @content;
        }
    } @else
    {
        &:hover,
        &:active,
        &:focus
        {
            @content;
        }
    }
}

/// Button styles modifiers
@mixin ui-btn-style( $background-color, $border, $color )
{
    color: $color;
    border: 1px solid $border;
    background-color: $background-color;
}


///Padding mixings
@mixin padding($values...)
{
    @each $var in $values
    {
        padding: #{$var};
    }
}
