// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Body font family
/// @type List
$body-font-stack: 'Roboto Slab', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

///Headline font family
/// @type List
$headline-font-stack: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Title font family
/// @type List
$title-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Sub title font family
/// @type List
$subtitle-font-stack: 'Roboto Condensed', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


///Typography
$global-font-size: 1rem !default; //16px
$global-xsmall-font-size:  0.75rem !default; // 12px
$global-small-font-size:  0.875rem !default; // 14px
$global-medium-font-size: 1.125rem !default;  // 18px

//Line height
$global-line-height:  1.5 !default;
$global-small-line-height:  1.2 !default;
$global-medium-line-height:  1.8 !default;

/// Copy text color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
$brand-primary-color: rgb(25, 25, 55) !default;

/// Secondary brand color
$brand-secondary-color: rgb(1,220,212) !default;

/// Colors
$onyx-black: rgb(34, 40, 49) !default;

$light-blue: rgb(99,84,235) !default;

$radical-red: rgb(255,0,84) !default;

$robin-blue: rgb(0,195,213) !default;

$moonstone-blue: rgb(29,172,214) !default;

$pastel-red: rgb(249,89,89) !default;

$error-red: rgb(254,65,103) !default;

$caution-yellow: rgb(254,166,49) !default;

$okay-green: rgb(0,204,153) !default;

$frost-white: rgb(255, 255, 255) !default;

$light-grey: rgb(243, 244, 248) !default;

$mid-grey: rgb(236, 237, 242) !default;

$dark-grey: rgb(171, 177, 183) !default;

$charcoal-grey: rgb(48,56,65) !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xlarge': 1200px,
) !default;
