// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Body font family
///@Font family
$body-font-stack: 'Roboto Slab', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
/// Headline font family
$headline-font-stack: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
/// Title font family
$title-font-stack: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
/// Sub title font family
$subtitle-font-stack: 'Roboto Condensed', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


///Typography
///@Type
$global-font-size: 1rem !default; //16px
$global-xsmall-font-size: .75rem !default; // 12px
$global-small-font-size: .875rem !default; // 14px
$global-medium-font-size: 1.125rem !default; // 18px


//Line height
$global-line-height: 1.5 !default;
$global-small-line-height: 1.2 !default;
$global-medium-line-height: 1.8 !default;
/// Copy text color
$text-color: rgb(34, 34, 34) !default;


///@Colors
/// Main brand color
$brand-primary-color: rgb(25, 25, 55) !default;
/// Secondary brand color
$brand-secondary-color: rgb(1,220,212) !default;


/// Colors
$onyx-black: rgb(21, 22, 24) !default;
$light-blue: rgb(99,84,235) !default;
$radical-red: rgb(230,0,76) !default;
$robin-blue: rgb(6,199,217) !default;
$moonstone-blue: rgb(69,178,232) !default;
$denim-blue: rgb(32,111,246) !default;
$pastel-red: rgb(245,98,98) !default;
$error-red: rgb(254,65,103) !default;
$caution-yellow: rgb(254,166,49) !default;
$okay-green: rgb(0,204,153) !default;
$frost-white: rgb(255, 255, 255) !default;
$light-grey: rgb(243, 244, 248) !default;
$mid-grey: rgb(236, 237, 242) !default;
$dark-grey: rgb(171, 177, 183) !default;
$charcoal-grey: rgb(48,56,65) !default;
$transparent: rgba(0,0,0,0) !default;

///@Breakpoints
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xlarge': 1200px,
) !default;
