// General body styles
//
// base variables for body elements
//
$body-font-family: $font-family-roboto;
$body-font-size: $font-size-base; //16px
$body-font-size-m: $font-size-m; //18px
$body-font-weight: $font-weight-light; //300
$body-font-color: $font-color-base;
$body-line-height: $line-height-base; //1.5

$body-link-color: $brand-secondary;
$body-background-color: $light-grey;

/**
*#Fontfamily
*/
@import url( 'https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto+Condensed:400,700|Roboto+Slab:300,400,700|Roboto:300,500,700');


/**
 * Set up a decent box model on the root element, set root font-size 100% of
 // browser standard for rem units.
 */
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  -ms-overflow-style: scrollbar;
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::after,
*::before {
  box-sizing: inherit;
}
/**
*Basic body styles
*/
body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $body-font-color;
  background-color: $body-background-color;

  @include respond-to ('medium') {
    font-size: $body-font-size-m;
  }
}
/**
 * Basic styles for links
 */

a {
  text-decoration: none;
  color: $body-link-color;
  @include on-event {
    text-decoration: underline;
    color: $body-link-color;
  }
}
/**
* adding 8px padding top/bottom to boostrap columns on stack
*/
[class*="col-"] {
  padding-top: 4px;
  padding-bottom: 4px;
}
/**
*divider modifier for rows, will add a dividing line between first and last column
*/
.row--divider {
  position: relative;

  [class*="col-"]:nth-of-type(n+2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: auto;
    margin: auto;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $dark-grey;
  }

  @include respond-to ('medium') {
    [class*="col-"]:nth-of-type(n+2)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: 90%;
      margin: auto;
      border-width: 0 0 0 1px;
    }
  }
}
