///Typography
///Typography specific variables
$type-margin: 0 0 1.125rem !default; //18px
$type-condensed: $subtitle-font-stack !default;
$type-small: $global-font-size-xs !default; //12px
$heading-line-height: $global-lh-s !default; //1.2
$meta-text-color: $dark-grey !default;

p {
  margin: $type-margin; //18px
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
  line-height: $heading-line-height;
  margin: $type-margin; //18px
}

small {
  font-size: $type-small;
}

.ui-text-meta {
  font-family: $type-condensed;
  font-size: $type-small;
  text-transform: uppercase;
  color: $meta-text-color;
  margin: 0;

  &--attn {
    font-weight: 700;
    color: $radical-red;
  }
}
