// Typography
//
// Typography specific variables
$type-margin: 0 0 1.125rem 0 !default; // 18px bottom
$type-condensed: $font-family-roboto-condensed;
$type-small: $font-size-xs; // 12px
$type-weight: $font-weight-bold;
$type-line-height: $line-height-xs; // 1.2
$meta-text-color: $dark-grey;
$attn-text-color: $radical-red;

p {
  margin: $type-margin; // 18px
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
  line-height: $type-line-height;
  margin: $type-margin; // 18px
}

small {
  font-size: $type-small;
}

.ui-text-meta {
  font-family: $type-condensed;
  font-size: $type-small;
  text-transform: uppercase;
  color: $meta-text-color;
  margin: 0;

  &--attn {
    font-weight: $type-weight;
    color: $attn-text-color;
  }
}
